<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<body>

<header th:fragment="header(showLogin)">
    <p class="logo">My Portfolio</p>

    <a th:if="${showLogin}"
       th:href="@{/login}"
       class="login-button">
        ログイン
    </a>

    <form th:if="${session.loginUser != null}"
          th:action="@{/logout}"
          method="post">
        <button type="submit"
                class="logout-button">
            ログアウト
        </button>
    </form>
</header>

</body>

</html>