<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>新規登録</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>

    <div th:replace="~{common/header :: header}"></div>

    <main>

        <h1>新規登録</h1>

        <form th:action="@{/register}"
              th:object="${userRegistrationRequest}"
              method="post">

            <div class="form-group">

                <div class="field-control">
                    <label for="name">氏名</label>

                    <input type="text"
                           id="name"
                           th:field="*{name}">
                </div>

                <p class="error-message"
                   th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}">
                </p>

            </div>

            <div class="form-group">

                <div class="field-control">
                    <label for="email">メールアドレス</label>

                    <input type="text"
                           id="email"
                           th:field="*{email}">
                </div>

                <p class="error-message"
                   th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}">
                </p>

            </div>

            <div class="form-group">

                <div class="field-control">
                    <label for="password">パスワード</label>

                    <input type="password"
                           id="password"
                           th:field="*{password}">
                </div>

                <p class="error-message"
                   th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}">
                </p>

            </div>

            <div class="submit-area">
                <button type="submit" class="submit-button">
                    登録する
                </button>
            </div>

        </form>

    </main>

    <div th:replace="~{common/footer :: footer}"></div>

</body>

</html>